body{
  background-color: aliceblue;
  text-align: center;
}
.App {
  text-align: center;
  background-color: azure;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0,0 , 0.2);
  transition: transform 0.2s;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}
select{
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;


}
button{
  margin: 10px;
  color: black;
  cursor: pointer;
  background-color: aqua;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #156f8d;
  width: 100%;
  height: 150px;
 
  
}
#hh{
 
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  
}




